@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "PT Sans" sans-serif;
}

.loginBG {
    background-image: url('./assets/loginImg.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.onboardBG{
    background-image: url("./assets/onboardImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroBG{
    background-image: url("./assets/banner.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

.bord{
    border-bottom: 3px solid #800080;
    padding-bottom: 2px;
    transition: all 200ms ease-in-out;
}

.full-height-minus-170 {
    height: calc(100vh - 200px);
}

.str-chat {
    --str-chat__primary-color: #800080;
    --str-chat__avatar-background-color:var(--str-chat__primary-color)
}